*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

/*primary button */
 .btn-primary{
    padding:20px 43px;
    border-radius: 8px;
    background-color: #E55473;
    border:0;
    color:white;
    font-size: 20px;
    font-weight: 700;
 }

 /* shared common style */

 .section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
 }

 .section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
 }


/* header section style */

.header{
    background-color:rgba(229, 84, 115, 0.10);
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container{
    max-width: 1920px;
}

.header-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom:32px; 
}

.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 32px;
}

.header .header-img{
    width: 635px;
}

/* main > section-1 */

.section-1{
    padding:130px;

}

.section-1 .section-title{
    margin-bottom: 30px;
}

.section-1-img{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin:0 220px;
}

.img-1{
    width:460px;
    height:500px;
    background: rgba(167,33,98,0.15);
    border-radius:300px 300px 0 0;
    
}

.img-2{
    width:460px;
    height:500px;
    background: rgba(5, 151, 160, 0.15);
    border-radius:300px 300px 0 0;
    
}

.img-3{
    width:460px;
    height:500px;
    background: rgba(71, 125, 17, 0.15);
    border-radius:300px 300px 0 0;
    
    
}

.img-src{
    width:50%;

}

/* main> section-2*/

.section-2{
    border-radius: 8px;
    background: rgba(229, 84, 115,0.05);
    border-radius: 8px;
    margin-top:200px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.section-2-container{
    width:1920px;
    margin-left:200px;
    margin-top:60px;
    align-items: center;
    text-align: left;
}

.section-2-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
 }

 .section-2-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom:32px;
    
 }

 .section-2-img{
    margin: 100px 300px 100px 0px;
 }

 .section-2 .btn-primary{
     margin-left: 180px;
}

/* main > section-3 */

.section-3{
    margin-top:128px;
    padding-left: 180px;
    margin-left: 100px;

}

.section-3 .section-title {
    margin-bottom: 24px;
    margin-right: 250px;
}

.section-3 .section-description{
      margin-bottom:48px;
      margin-right:250px ;
}

.section-3-img-src{
    width:280px;
}

/* main> section-4 */

.section-4{
    background: url('Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    
}

.section-4-container{
    height: 449px;
}

.section-4-container h3{
    padding-top: 120px;
}

.section-4-container input {
    
}










